body{
    min-width: 320px;
    margin: 0 auto;
}
.container {
    background: red;
    display: flex;
    flex-direction: column;
    height: 568px;
    overflow: hidden;
}
.h1 {
    margin: 0 auto;
    padding: 10px;
}
.module-container{
    display: flex;
    flex-direction: column;
}

.module {
    width: 320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text {
    display: flex;
    width: 300px;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    border: 1px solid rgb(228, 243, 12);
    background-color: rgba(228, 219, 208, 0.6);
    cursor: pointer;
}

.main-text {
    
}
.open-close {
  width: 30px;
}
.open-close:hover{
    background-image: url(./assets/img/open.jpg);
}
.pic img{
    width: 180px;
    margin: 10px;
    cursor: pointer;
}

/* .module-container~.pic:first-child{
    display: block;
} */

.module>.pic { display: none; }
.module:hover>.pic { 
    display: block;
    transition-duration:2s; 
    transition: 1s;
 }

.text>.open-close { display: none; }
.text:hover>.open-close { 
    display: block;
    background-image: url(./assets/img/open.jpg);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 90% 50%;
   
 }
 @keyframes changeColor {
    0% {
      background-color: red;
    }
    100% {
      background-color: blue;
    }
  }
/*   .pic {
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
  } */
.hide {
    display: none; 
}
.hide + label:hover {

    background-image: url(./assets/img/open.jpg);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 90% 50%;

}

.hide + label ~ div{
    display: none;
}

@keyframes rotate {
    from {transform: rotate(45deg);}
    to {transform: rotate(0deg);}
}
.pic img{
    animation: rotate 1.1s linear;
}

/*  .hide + label {
    border-bottom: 1px dotted green;
    padding: 0;
    color: green;
    cursor: pointer;
    display: inline-block; 
}  */
/* вид текста label при активном переключателе */
.hide:checked + label {
    color: rgb(205, 39, 105);
    border-bottom: 0;
    background-image: url(./assets/img/close.jpg);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 90% 50%;
    
  
}
/* .hide:checked + label + .text:hover>.open-close {
  display: none;

} */
/* когда чекбокс активен показываем блоки с содержанием  */
.hide:checked + label + div {
    display: block; 
    background: #efefef;
    -moz-box-shadow: inset 3px 3px 10px #7d8e8f;
    -webkit-box-shadow: inset 3px 3px 10px #7d8e8f;
    box-shadow: inset 3px 3px 10px #7d8e8f;
    padding: 10px; 
}

/* .module .pic:first-child{
    display: block;
} */


@media screen and (min-width : 380px) and (max-width : 819px){

    .container {
      background: blueviolet;
      height: 768px;
    }
    .text {
        width: 400px;
    }
    .pic img{
        width: 400px;
    }
}
@media screen and (min-width : 820px) and (max-width : 1919px){
    .container {

        background: yellowgreen;
        height: 1180px;
    }

    .text {
        width: 600px;
    }
    .pic img{
        width: 600px;
    }
}

@media screen and (min-width : 1920px){
    .container {
        height: 1080px;
        background: grey;
    }
    .text {
        width: 800px;
    }
    .pic img{
        width: 800px;
    }
}